<div class="entry clearfix">
	<%#= link_to image_tag(first_image(entry.body_html), :width => 80, :height => 80, :class => 'thumb'), entry %>
	<% if entry.item %>
		<%= link_to image_tag(entry.item.image, :width => 70, :class => 'thumb'), entry.item %>
	<% end %>	
	<div class="content">
		<%= link_to image_tag(entry.user.gravatar_url(:size => 40), :class => 'avatar') %>
		<!-- <h5><%= link_to entry.title, entry %></h5> -->
    <p><%= strip_tags(entry.body_html).truncate(100) %></p>
		<div class="comment_count">
			<%= link_to "0 Comments", entry_path(entry, :anchor => 'disqus_thread') %>
		</div>	
	</div>	
</div>
