<h3><%=title "My Home" %></h3>

<div class="header" style="text-align: right;">
	<%= link_to 'New Entry', new_entry_path, :class => 'button' %>
</div>

<ul class="entries">
	<%= render @entries %>
</ul>

<%= paginate @entries %>

<% content_for :javascript do %>
	<%= render 'shared/disqus/comment_count' %>
<% end %>	