<div class="header" style="text-align: right;">
	<%= link_to 'New Entry', new_entry_path, :class => 'button' %>
</div>

<ul class="entries">
<% @entries.each do |entry| %>
	<li class="entry">
		<%= link_to image_tag(first_image(entry.body_html), :width => 80, :height => 80, :class => 'thumb'), entry %>
		<div class="content">
			<h5><%= link_to entry.title, entry %></h5>
	    <p><%= strip_tags(entry.body_html).truncate(100) %></p>
		</div>	
	</li>
<% end %>
</ul>


<%= paginate @entries %>

