<div class="header">
	<%= button_link_to "New Entry", new_entry_path, :class => 'minimal' %>
</div>

<h2><%=page_title "Recent Entries" %></h2>

<ul id="recent_entries" class="entries">
	<%= render @entries %>
</ul>

<%= will_paginate @entries, :class => 'digg_pagination' %>

<% content_for :sub do %>
<h5>Tags</h5>
<% tag_cloud(Entry.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, entries_path(:tag => tag.name) , :class => css_class %>
<% end %>
<% end %>

<% content_for :javascript do %>
	<%= render 'shared/disqus/comment_count' %>
<script type="text/javascript" charset="utf-8">
</script>
<% end %>	
