<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<span class="rating" data-rate="3"></span>

<p>
  <b>Body:</b>
  <%= @entry.body %>
</p>

<div class="votes">
	<%= link_to "Like", entry_votes_path(@entry, :flag => 'up'), :method => 'post' %> : <%= @entry.up_votes %> /
	<%= link_to "Dislike", entry_votes_path(@entry, :flag => 'down'), :method => 'post' %> : <%= @entry.down_votes %> /
	<%= link_to "Clear", entry_vote_path(@entry, 1), :method => 'delete' %>
</div>	

<ul>
  <% @entry.attachments.each do |attachment| %>
    <li>
    <%= attachment.description %> - <%= link_to("Download", attachment.file_url) %>
    </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
