<h2><%= page_title "Settings / Application" %></h2>
<%= render 'tabs', :active => 'app' %>

<%= simple_form_for current_user do |f| %>
	<%= f.fields_for :prefs, current_user.prefs do |p| %>

		<div class="box">
			<% UserPreference::DEFAULT_OPTIONS.keys.each do |key| %>
				<%= p.input key, :as => :boolean %>
			<% end %>
		</div>	

	<% end %>
	<%= f.button :submit %>
<% end %>
