<ul>
	<li>&copy; 2011 Useful Paradigm</li>
	<li><%= link_to "About", page_path(:about) %></li>
	<li><%= link_to "Term of Service", page_path(:tos) %></li>
	<li><%= link_to "Privacy", page_path(:privacy) %></li>
	<li><%= link_to "Help", page_path(:help) %></li>
</ul>	
<div class="jigso">Powered by <strong><%= link_to "Jigso" %></strong>&trade;</div>
