&copy; 2011 Useful Paradigm |
<%= link_to "About", page_path(:about) %> |
<%= link_to "Term of Service", page_path(:tos) %> |
<%= link_to "Privacy", page_path(:privacy) %> |
<%= link_to "Help", page_path(:help) %>
<div class="jigso">Powered by <strong><%= link_to "Jigso" %></strong>&trade;</div>
