<div class="nav" id="top_nav">

	<% if user_signed_in? %>
		<%#= image_tag current_user.gravatar_url %>
		<%= link_to current_user, '#', :class => 'toggle' %>
    <ul class="menu dropdown" style="display: none;">
      <li><%= link_to "Profile", edit_user_registration_path %></li>
      <li><%= link_to "Settings", edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
		</ul>	
	<% else %>
		<ul class="menu">
       <li><%= link_to "Sign up", new_user_registration_path %></li> 
       <li><%= link_to "Sign in", new_user_session_path %></li>
    </ul>
	<% end %>

</div>    

