<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<%= display_meta_tags :site => 'Ultrabase' %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="http://faviconist.com/icons/7cb4ab781a9045ca4ed6dd24203c755b/favicon.ico" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<%= include_stylesheets :all %>
<%= csrf_meta_tag %>
</head>
<body>

	<div id="page" class="container">
		<div id="header" class="sixteen columns">
			<%= render 'layouts/top_nav' %>
			<h1>Ultrabase</h1>
			<!-- <h5>Version 0.1</h5> -->
			<hr/>
		</div>
		<div id="main" class="sixteen columns">
			<div class="row">
				<%#= render 'layouts/flash' %>
				<div id="content" class="ten columns alpha">
					<%= yield %>
				</div>
				<div id="side" class="six columns omega">
					<h3>Docs &amp; Support</h3>
					<p>The easiest way to really get started with Skeleton is to check out the full docs and info at <a href="http://www.getskeleton.com">www.getskeleton.com.</a>. Skeleton is also open-source and has a <a href="https://github.com/dhgamache/skeleton">project on git</a>, so check that out if you want to report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at <a href="mailto:hi@getskeleton.com">hi@getskeleton.com</a>.</p>
				</div>		
			</div>	
		</div>
		<%#= render 'layouts/footer' %>
	</div><!-- container -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='javascripts/jquery-1.6.2.min.js'>\x3C/script>")</script>
<%= include_javascripts :defaults %>
<%= yield :javascript %>
</body>
</html>
